.DefaultButton{
       -fx-shape:"M 100 400 A 50 50 0 1 1 100 250 L 600 250 A 50 50 0 1 1 600 400 Z";
      -fx-background-color:transparent;
  }

.Subscription{
-fx-shape:"M 100 400 A 50 50 0 1 1 100 250 L 600 250 A 50 50 0 1 1 600 400 Z";
-fx-background-color: #2E2E2E;
}

.Search{
-fx-shape:"M 50 400 A 50 50 0 1 1 50 300 L 750 300 A 50 50 0 1 1 750 400 Z";
-fx-background-color: #2E2E2E;
-fx-text-fill: #eeeeee
}

.ImageStructure{
-fx-shape: "M 50 100 Q 50 50 100 50 L 650 50 Q 700 50 700 100 L 700 490 Q 700 550 650 550 L 100 550 Q 50 550 50 490 Z";
-fx-background-color: #2E2E2E;
}

.DefaultButton{
       -fx-shape:"M 100 400 A 50 50 0 1 1 100 250 L 600 250 A 50 50 0 1 1 600 400 Z";
      -fx-background-color:transparent;
  }

.Subscription{
-fx-shape:"M 100 400 A 50 50 0 1 1 100 250 L 600 250 A 50 50 0 1 1 600 400 Z";
-fx-background-color: #2E2E2E;
-fx-border-color : #4dde90;
-fx-text-fill : white;
}

.Subscription:hover {
    -fx-border-color : transparent;
    -fx-background-color: #4dde90;  
    -fx-text-fill : white;
}

.Search{
-fx-shape:"M 50 400 A 50 50 0 1 1 50 300 L 750 300 A 50 50 0 1 1 750 400 Z";
-fx-background-color: #2E2E2E;
-fx-text-fill: #eeeeee
}

.ImageStructure{
-fx-shape: "M 50 100 Q 50 50 100 50 L 650 50 Q 700 50 700 100 L 700 490 Q 700 550 650 550 L 100 550 Q 50 550 50 490 Z";
-fx-background-color: #2E2E2E;
}

.Background{
-fx-background-color: #1a1a1a;
-fx-background-radius: 50px;
}

#Cancel {
    -fx-background-color : transparent;
    -fx-text-fill : red;
    -fx-border-color : red;
    -fx-border-width : 4px;
}

#Cancel:hover {
    -fx-background-color : red;
    -fx-text-fill : black;
}

#Renew {
    -fx-background-color : transparent;
    -fx-border-color : #4dde90;
    -fx-border-width :4px;
    -fx-text-fill : #4dde90;
}

#Renew:hover {
    -fx-background-color : #4dde90;
    -fx-text-fill : black;
}

#homeButton {
    -fx-text-fill : #4dde90;
}

#homeButton:hover {
    -fx-text-fill : white;
}


#logout {
    -fx-border-color : red;
    -fx-text-fill : red;
}

#logout:hover {
    -fx-background-color : red;
    -fx-text-fill : black;
}